<div id="<%= dom_id agent_config %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= agent_config.prompt %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Speech speed:</strong>
    <%= agent_config.speech_speed %>
  </div>
</div>
